<section class="food_section layout_padding-bottom">
  <div class="container">
    <div class="heading_container heading_center">
      <h2>Our Menu</h2>
    </div>

    <div id="food-feedback" class="alert d-none" role="alert"></div>

    <ul class="filters_menu">
      <li class="active" data-filter="*">All</li>
      <li data-filter=".burger">Burger</li>
      <li data-filter=".pizza">Pizza</li>
      <li data-filter=".pasta">Pasta</li>
      <li data-filter=".fries">Fries</li>
    </ul>

    <div class="filters-content">
      <div class="row grid">
        <div class="col-sm-6 col-lg-4 all pizza" data-name="Delicious Pizza" data-price="20">
          <div class="box">
            <div>
              <div class="img-box">
                <img src="/images/f1.png" alt="Delicious Pizza">
              </div>
              <div class="detail-box">
                <h5 class="name">Delicious Pizza</h5>
                <p>Classic mozzarella pizza topped with fresh tomatoes and basil.</p>
                <div class="options">
                  <h6 class="price">$20.00</h6>
                  <a href="#" class="cart-icon add-to-cart" data-id="1" data-name="Delicious Pizza" data-price="20" data-quantity="1">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-shopping-cart">
                      <circle cx="9" cy="21" r="1"></circle>
                      <circle cx="20" cy="21" r="1"></circle>
                      <path d="M1 1h4l2.68 13.39a2 2 0 0 0 2 1.61h9.72a2 2 0 0 0 2-1.61L23 6H6"></path>
                    </svg>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-6 col-lg-4 all burger" data-name="Juicy Burger" data-price="15">
          <div class="box">
            <div>
              <div class="img-box">
                <img src="/images/f2.png" alt="Juicy Burger">
              </div>
              <div class="detail-box">
                <h5 class="name">Juicy Burger</h5>
                <p>Grilled beef patty with cheese, lettuce, and our secret sauce.</p>
                <div class="options">
                  <h6 class="price">$15.00</h6>
                  <a href="#" class="cart-icon add-to-cart" data-id="2" data-name="Juicy Burger" data-price="15" data-quantity="1">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-shopping-cart">
                      <circle cx="9" cy="21" r="1"></circle>
                      <circle cx="20" cy="21" r="1"></circle>
                      <path d="M1 1h4l2.68 13.39a2 2 0 0 0 2 1.61h9.72a2 2 0 0 0 2-1.61L23 6H6"></path>
                    </svg>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-6 col-lg-4 all fries" data-name="Crispy Fries" data-price="9">
          <div class="box">
            <div>
              <div class="img-box">
                <img src="/images/f4.png" alt="Crispy Fries">
              </div>
              <div class="detail-box">
                <h5 class="name">Crispy Fries</h5>
                <p>Golden fried potatoes served with a trio of dipping sauces.</p>
                <div class="options">
                  <h6 class="price">$9.00</h6>
                  <a href="#" class="cart-icon add-to-cart" data-id="3" data-name="Crispy Fries" data-price="9" data-quantity="1">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-shopping-cart">
                      <circle cx="9" cy="21" r="1"></circle>
                      <circle cx="20" cy="21" r="1"></circle>
                      <path d="M1 1h4l2.68 13.39a2 2 0 0 0 2 1.61h9.72a2 2 0 0 0 2-1.61L23 6H6"></path>
                    </svg>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
