.add-to-cart {
    display: inline-block;
    background-color: yellow;
    padding: 10px;
    border-radius: 50%;
    border: 2px solid #f1c40f;
    color: #f39c12;
    font-size: 20px;
    text-decoration: none;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.add-to-cart:hover {
    background-color: #f39c12;
    color: #fff;
}

.filters_menu li {
    cursor: pointer;
}

.filters_menu li.active {
    font-weight: bold;
}

.box {
    border: 1px solid #ddd;
    padding: 10px;
    margin-bottom: 20px;
}

.hidden {
    display: none !important;
}
